.topnav {
  background-color: #04aa6d;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.topnav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-left: 2rem;
}

li {
  height: 40px;
  line-height: 40px;
}

.nav-links {
  color: white;

  margin-left: 20px;
  height: 40px;
}

.fa-bars {
  color: white;
  line-height: 40px;
  margin-left: 15px;
}

.menu-icon {
  display: none;
  background-color: black;
}

@media screen and (max-width: 960px) {
  .topnav {
    position: relative;
  }

  .logo {
    height: 40px;
  }
  .logo:hover {
    background-color: #ddd;
  }
  .nav-menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 40px;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }
  .nav-menu.active {
    margin: 0;
    background-color: #333;
    width: 100%;
    opacity: 1;
    z-index: 1;
    display: block;
    text-align: start;
  }

  .nav-links {
    text-align: start;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }

  .nav-links:hover {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background-color: #ddd;
    color: black;
  }

  .navbar-logo {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 25%);
  }

  .menu-icon {
    position: absolute;
    display: block;
    background-color: black;
    height: 40px;
    width: 40px;
    right: 0;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    line-height: 40px;
    margin-left: 15px;
  }

  .menu-icon:hover {
    background-color: #ddd;
  }
  .fa-times:hover,
  .fa-bars:hover {
    color: black;
  }
}
